*{
    margin: 0px;
    border: border-box;
    font-family: Arial;

}
.nav-container{
    display: flex;
    height: 4.5rem;
    background-color: #0f1111;
    justify-content: space-between;
    flex-wrap: nowrap;
    
    
}
.logo-bar{
    height: 58px;
    width: 100px;
    padding: 2px 6px 0 6px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 60px;
    width: 100px;
    
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 9px;
}
.location{
    color: white;
    font-size: 18px;
}
.first-one{
    color: #cccccc;
    font-size: 12px;
    font-weight: 700;
}
.second-one{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}
/*select bar...............*/
.search-bar{
    display:flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width: 800px;
}
.select1{
    font-size: 14px;
    background-color: #E6E6E6;
    height: 40px;
    width: 52px;
    border-right:none;
}
.search{
    height: 37px;
    font-size: 15px;
    width: 700px;
}
.symbol-container{
display: flex;
justify-content: center;
align-items: center;
height: 40px;
width: 40px;
background-color: #febd69;
border: none;
}
.symbol{
    font-size: 18px;
    text-align: center;  
}
/*flag box.............*/
.language-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.flag{
    background-image: url("Flag-United-States-of-America.webp");
    background-size: cover;
    height: 16px;
    width: 21px;
}
.select2{
    background-color: #0f1111;
    color: white;
    border: none;
    font-weight: 700;
}
/*sign in bar..................*/
.signin-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.firstone{
    color: white;
    padding-left: 4px;
    font-size: 12px;
}
.secondselect{
    background-color: #0f1111;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
}
/*Orders block..................*/
.return-bar{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.firstreturn{
    color: white;
    font-size: 12px;
}
.secondreturn{
    color: white;
    font-size: 14px;
    font-weight: 700;
}
/*cart block....................*/
.cartblock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right:10px;
}
.cartsymbol{
    color: white;
    font-size: 30px;
}
.cartdes{
    color: white;
    font-size: 15px;
}